.navigation {
  &__checkbox {
    display: none;
  }
  &__button {
    background-color: #fff;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    position: fixed;
    top: 3.9rem;
    right: 4.2rem;
    z-index: 2000;
    text-align: center;
    box-shadow: 0 1rem 3rem rgba($color: #000000, $alpha: 0.1);
  }
  &__background {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    position: fixed;
    top: 4rem;
    right: 4.5rem;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    z-index: 1000;
    transition: transform 0.8s;

    // transform: scale(50); // butun ekrani baglasin
  }
  &__nav {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    opacity: 0;
    width: 0; // opcity 0 etsekde link uzerine gelende cursor isleyirdi gotunmesede amma bele silinir
    transition: opacity 1.5s;
  }
  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }
  &__item {
    margin: 1rem;
  }
  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 2rem;
      font-weight: 300;
      padding: 1rem 2rem;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      //animation in esas hissesi buradi
      background-image: linear-gradient(120deg, transparent 50%, #fff 50%);
      //120 deg yaziriq ki soldan saga olsun, 0 olsa asagi yuxari olur
      // 50% transparent 50% ag reng vermisik ve 300% back size vermisik
      //bunun sebebi stansparent olan hisseye zoom edir, amma sagda yene
      // de ag reng qalir, amma hele transparent gorsenir
      background-size: 300%;
      transition: all 0.5s;
    }
    &:hover,
    &:active {
      background-position: right; //bunu edende artiq transparent hisseden ag hisseye kecir
      color: $color-primary-light;
      transform: translateX(1rem); //link obsi biraz saga gedir
    }
  }

  &__checkbox:checked ~ &__background {
    // checked olanda yeni basilanda scale ele, if kimi bir seydi
    transform: scale(80);
  }
  &__checkbox:checked ~ &__nav {
    // checked olanda yeni basilanda scale ele, if kimi bir seydi
    opacity: 1;
    width: 100%;
  }

  &__icon {
    position: relative;
    top: 1.2rem;
    &,
    &::before,
    &::after {
      width: 2.5rem; //xet cekmek ucun height az ele 2px kimi, width yeni horizontal uzunlugu cox ele 3rem kimi
      height: 2.5px;
      background-color: #333;
      display: inline-block;
    }

    &::before,
    &::after {
      content: ""; //bu olmasa islemez
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.2s;
    }
    &::after {
      top: -0.7rem;
    }
    &::before {
      top: 0.7rem;
    }
  }

  &__button:hover &__icon::before {
    // icon buttonun child elementi oldugun ucun bele elemek olur, button hover olanda icon bele olsun
    top: 0.8rem;
  }
  &__button:hover &__icon::after {
    // icon buttonun child elementi oldugun ucun bele elemek olur, button hover olanda icon bele olsun
    top: -0.8rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent; // ortadaki xetti gorunmez edir
  }
  &__checkbox:checked + &__button &__icon::before {
    transform: rotate(135deg);
    top: 0;
  }
  &__checkbox:checked + &__button &__icon::after {
    transform: rotate(-135deg);
    top: 0;
  }
}
